.articles {
    display:block;
  }
  
  .article {
    margin:2% auto;
    display:block;
    text-align:left;
    width:70vw;
    background:#fff;
    box-shadow: 0 8px 24px rgba(32,43,54,.12);
    cursor:pointer;
    transition:0.2s;
    position:relative;
    overflow:auto;
    font-size:120%;
    border-radius:25px;
  }
  
  .article h3 {
    color: #9D9BB6;
    font-weight:normal;
    font-size:80%;
  }


  .article p {
    font-size:120%;
  }
  
  .article:hover {
    box-shadow: 0 10px 26px rgba(6, 8, 10, 0.226);
    border-radius: 50px;
  }
  
  .article img {
    width:45%;
    height:auto;
    float:left;
    /* display:block; */
    transition:0.2s;
    border-radius:25px 0 0 25px;
  }
  
  .article:hover img {
    border-radius: 50px 0 0 50px;
  }
  
  .article h2, .article h3, .article p {
    display:inline-block;
    margin-left:3%;
    width:45%;
  }
  
  .article .text {
    padding:3%;
  }