main {
    display: block;
}

.newsfeed {
    background-color: #fff;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 10px 30px 0;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
    border-radius: 3px;
}

.newsfeed-item {
    display: block;
    padding: 32px;
    border-top: 1px solid var(--light-grey-color);
    background-color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.newsfeed-item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
}

.newsfeed-item__description {
    margin-bottom: 32px;
    color: var(--text-color);
}

.newsfeed-item__footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.newsfeed-item__footer-image-info, .newsfeed-item__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

